<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.FocusaskMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.pojo.Focusask">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="askid" jdbcType="INTEGER" property="askid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, askid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from focusask
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from focusask
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.pojo.Focusask">
    insert into focusask (id, uid, askid
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{askid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.pojo.Focusask">
    insert into focusask
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="askid != null">
        askid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="askid != null">
        #{askid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.pojo.Focusask">
    update focusask
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="askid != null">
        askid = #{askid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.pojo.Focusask">
    update focusask
    set uid = #{uid,jdbcType=INTEGER},
      askid = #{askid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from focusask
    where uid = #{id,jdbcType=INTEGER}
  </select>
</mapper>