<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.HkoMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.pojo.Hko">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="hkinfo" jdbcType="VARCHAR" property="hkinfo" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="poid" jdbcType="INTEGER" property="poid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, result, hkinfo, time, poid, cid, uid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hko
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hko
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.pojo.Hko">
    insert into hko (id, result, hkinfo, 
      time, poid, cid, uid
      )
    values (#{id,jdbcType=INTEGER}, #{result,jdbcType=VARCHAR}, #{hkinfo,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR}, #{poid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.pojo.Hko">
    insert into hko
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="hkinfo != null">
        hkinfo,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="poid != null">
        poid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="hkinfo != null">
        #{hkinfo,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="poid != null">
        #{poid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.pojo.Hko">
    update hko
    <set>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="hkinfo != null">
        hkinfo = #{hkinfo,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="poid != null">
        poid = #{poid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.pojo.Hko">
    update hko
    set result = #{result,jdbcType=VARCHAR},
      hkinfo = #{hkinfo,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      poid = #{poid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hko
    where cid = #{id,jdbcType=INTEGER}
  </select>
</mapper>