<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.pojo.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="poid" jdbcType="INTEGER" property="poid" />
    <result column="metime" jdbcType="VARCHAR" property="metime" />
    <result column="metype" jdbcType="VARCHAR" property="metype" />
  </resultMap>
  <sql id="Base_Column_List">
    id, content, cid, uid, poid, metime, metype
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.pojo.Message">
    insert into message (id, content, cid, 
      uid, poid, metime, 
      metype)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{poid,jdbcType=INTEGER}, #{metime,jdbcType=VARCHAR}, 
      #{metype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.pojo.Message">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="poid != null">
        poid,
      </if>
      <if test="metime != null">
        metime,
      </if>
      <if test="metype != null">
        metype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="poid != null">
        #{poid,jdbcType=INTEGER},
      </if>
      <if test="metime != null">
        #{metime,jdbcType=VARCHAR},
      </if>
      <if test="metype != null">
        #{metype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.pojo.Message">
    update message
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="poid != null">
        poid = #{poid,jdbcType=INTEGER},
      </if>
      <if test="metime != null">
        metime = #{metime,jdbcType=VARCHAR},
      </if>
      <if test="metype != null">
        metype = #{metype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.pojo.Message">
    update message
    set content = #{content,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      poid = #{poid,jdbcType=INTEGER},
      metime = #{metime,jdbcType=VARCHAR},
      metype = #{metype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAllById" parameterType="java.lang.Integer" resultType="com.qianfeng.vo.MessageVo">
    SELECT me.id, me.content, me.metime, ci.`name` ciname, co.grade, po.poname, ui.icon, ui.nickname 
	FROM message me
	INNER JOIN company co
	ON me.cid = co.id
	INNER JOIN city ci
	ON ci.id = co.cityId
	INNER JOIN position po
	ON po.id = me.poid
	INNER JOIN `user` us
	ON us.id = me.uid
	INNER JOIN uinfo ui
	ON ui.uid = us.id
    where co.id = #{id,jdbcType=INTEGER}
  </select>
  
</mapper>